.wrap {
	margin:0 auto;
	width: 1000px;
	height: 1000px;
	background-image: url(images/bg.png);
}
.header {
	width: 900px;
	height: 50px;
	margin-left: 50px;
}
.logo {
	width: 380px;
	height: 100px;
	float: left;
	margin-left: 50px;
	margin-bottom: 30px;
}
.menu {
	width: 520px;
	height: 100px;
	float: left;
	margin-bottom: 30px;
}
.menu1 {
	width: 70px;
	height: 19px;
	margin-left: 10px;
}
.menu2 {
	width: 70px;
	height: 19px;
}
.menu3 {
	width: 69px;
	height: 19px;
}
.menu4 {
	width: 52px;
	height: 19px;
}
.nav {
	width: 200px;
	height: 200px;
}
.sub_nav_1 {
	width: 200px;
	height: 66px;
}
.sub_nav_2 {
	width: 200px;
	height: 56px;
}
/*
.sub_nav_3 {
	width: 200px;
	height: 66px;
}
.sub_nav_4 {
	width: 200px;
	height: 66px;
}
.sub_nav_5 {
	width: 200px;
	height: 66px;
}*/
.left {
	width: 200px;
	height: 600px;
	float: left;
	margin-left: 50px;
	margin-bottom: 30px;
}
.center {
	width: 700px;
	height: 600px;
	float: left;
	margin-bottom: 30px;
}
.footer {
	width: 1000px;
	height: 190px;
	clear: left;
}
ul{
	list-style:none;
}
li{
	float: left;
	margin-left: 41px;
	margin-top: 22px;
}
/*@media screen and (max-width: 980px) {
	.wrap { height: 90%; }
	.header { height: 90%; }
	.logo { height: 90%; }
	.menu { height: 90%; }
	.left { height: 90%; }
	.center { height: 90%; }
	.footer { height: 90%; }
}
@media screen and (max-width: 700px) {
	.wrap { width: 60%; }
	.header { width: 60%; }
	.logo { width: 60%; }
	.menu { width: 60%; }
	.left { width: 60%; }
	.center { width: 60%; }
	.footer { width: 60%; }
}
@media screen and (max-width: 480px) {
	.wrap { width: 30%; }
	.header { width: 30%; }
	.logo { width: 30%; }
	.menu { width: 30%; }
	.left { width: 30%; }
	.center { width: 30%; }
	.footer { width: 30%; }
}
.wrap1 {	width: 1000px;
	height: 1000px;
	background-image: url(images/bg.png);
}
.wrap1 {height: 90%; }
.wrap1 {width: 60%; }
.wrap1 {width: 30%; }*/